node_modules

/test/coverage/
/test/integration/screenshots/
chromedriver.log

# Public is cleared in npm scripts,
# so it should be completely rebuilt with webpack each time:
/public/

# Secrets:
/server/config/secrets.js
